<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.hh"></context:component-scan>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="password" value="123"></property>
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
        <property name="username" value="hr"></property>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
    </bean>
    <bean id="sesionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="packagesToScan" >
            <list>
                <value>com.hh.entity</value>
            </list>
        </property>
        <property name="hibernateProperties" >
            <value>
                hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
                hibernate.show_sql=true
                hibernate.format_sql=true
                hibernate.current_session_context_class=thread
                hibernate.hbm2ddl.auto=update
            </value>
        </property>


        
    </bean>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sesionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>